<a href="https://colab.research.google.com/github/krappis4/example1-apps/blob/master/Pandas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

In [8]:
#1
dt = pd.read_csv('ratings.csv')
def rating(line):
    if line['rating'] <= 2.0:
        return 'низкий рейтинг'
    if 2.0 < line['rating'] <= 4.0:
        return 'средний рейтинг'
    if line['rating'] > 4.0:
        return 'высокий рейтинг'
dt['class'] = dt.apply(rating, axis=1)
print(dt.head())

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

In [9]:
#2
dt = pd.read_csv('keywords.csv')
geo_data = {
'Центр':['москва', 'тула', 'ярославль'],
'Северо-Запад':['петербург', 'псков', 'мурманск'],
'Дальний Восток':['владивосток', 'сахалин', 'хабаровск'] 
}
def f(line):
    for key, value in geo_data.items():
        for i in value:
            if i in line['keyword']:
                return key
    return 'undefined'
dt['region'] = dt.apply(f, axis=1)
print(dt[(dt['region'] != 'undefined')].head())

                        keyword   shows          region
127                авито москва  979292           Центр
370    авито ру санкт петербург  425134    Северо-Запад
564   погода в санкт петербурге  292489    Северо-Запад
849             авито ярославль  209581           Центр
1063        фарпост владивосток  176951  Дальний Восток

In [10]:
#3
years = [str(i) for i in range(1950, 2011)]
def production_year(line):
    for year in years:
        if year in line['title']:
            return year
    return '1900'
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
movies['year'] = movies.apply(production_year, axis=1)
dt = ratings.merge(movies).groupby('year').agg({'rating': ['mean']})
dt.columns = dt.columns.droplevel(0)
dt = dt.reset_index()
sortdt = dt.sort_values('mean', ascending=False)
print(sortdt)

    year      mean
8   1957  4.014241
23  1972  4.011136
3   1952  4.000000
5   1954  3.994220
2   1951  3.983539
..   ...       ...
56  2005  3.448434
54  2003  3.444777
47  1996  3.426600
48  1997  3.415764
51  2000  3.356104

[62 rows x 2 columns]